<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <connectionStrings>
    <add name="Purim" connectionString="Data Source=DEVUPLDB01\DEV2K5;Initial Catalog=MiniProject3;User ID=devsa;Password=sadev"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization
          fileEncoding="utf-8"
          requestEncoding="utf-8"
          responseEncoding="utf-8"
        />
      <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="GetNewspaperUrl" value="http://dev.yedioth.site/GeneralForms.aspx?gf=11&amp;ref=purim" />
    <!--<add key="GetNewspaperUrl" value="http://www.yedioth.co.il/GeneralForms.aspx?gf=11&amp;ref=purim" />-->
    <add key="TosUrl" value="~/Documents/Takanon.pdf" />
    <!--<add key="AssetsUrl" value="Assets/" />-->
    <add key="AssetsUrl" value="Assets/" />    
    <add key="PhysicalAsstsPath" value="c:\Development\DotNET\Yedioth\YMiniSites\YMiniSites\Assets" />
    <!--<add key="AssetsUrl" value="http://purim2016.yedioth.co.il/Assets/" />-->
    <add key="FileMaxSize" value="4500000" />
    <add key="SmtpClient" value="10.21.2.10" />
    <add key="ShareTitle" value="גם אני השתתפתי בתחרות התחפושת של המדינה" />
    <add key="ShareDescription" value="יש לכם גם תחפושת מגניבה? היכנסו לקישור והירשמו לתחרות" />
    <add key="SendMailAddress" value="purim2016@yedioth.co.il" />

    <!--MetaScan-->
    <add key="MetaScanCookieName" value="AWSSESSGUID"/>
    <add key="MetaScanHost" value="metascan-cloud.yit.co.il"/>
    <add key="MetaScanBaseUri" value="http://metascan-cloud.yit.co.il:8008/metascan_rest/file"/>
    <add key="ExtensionsAllowed" value="png,jpg,jpeg,gif,png24,bmp,3gp,mpeg,JPG/JPEG,jpg/jpeg"/>
    <add key="MaxFileSize" value="7000"/>

  </appSettings>
</configuration>